.App {
}
.flexContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.buttonContainer{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}